{% load static %}
<!-- latest new v1 section-->
<div class="latestnew">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8">

				<div class="ads">
					{% for ad in ads %}
						{% if ad.section == "news" %}
						<img src="{% static ad.img_src %}" alt="" width="{{ ad.img_width }}" height="{{ ad.img_height }}">
						{% endif %}
					{% endfor %}
				</div>

				<div class="title-hd">
					<h2>Latest news</h2>
				</div>

				<div class="tabs">
				    <div class="tab-content">
				        <div id="tab31" class="tab active">
				            <div class="row">
								{% for news in news_list %}
				            	<div class="blog-item-style-1">
				            		<img src="{% static news.img_src %}" alt="{{ news.img_alt }}" width="{{ news.img_width }}" height="{{ news.img_height }}">
				            		<div class="blog-it-infor">
				            			<h3><a href="#">{{ news.title }}</a></h3>
				            			<span class="time">{{ news.time }}</span>
				            			<p>{{ news.content }}</p>
				            		</div>
				            	</div>
								{% endfor %}
				            </div>
				        </div>				        
				    </div>
				</div>

				<div class="morenew">
					<div class="title-hd">
						<h3>More news on Blockbuster</h3>
						<a href="#" class="viewall">See all Movies news<i class="ion-ios-arrow-right"></i></a>
					</div>

					<div class="more-items">
						<div class="left">
							{% for news in news_list %}
							<div class="more-it">
								<h6><a href="#">{{ news.title }}</a></h6>
								<span class="time">{{ news.time }}</span>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-4">
				<div class="sidebar">					
					<div class="sb-twitter sb-it">
						<h4 class="sb-title">Tweet to us</h4>
						<div class="slick-tw">
							{% for tweet in tweets %}
							<div class="tweet item" id="">
								{{ tweet.content }}
							</div>
							{% endfor %}
						</div>					
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!--end of latest new v1 section-->